.McHolocaust {
  font-size: 100px;
  margin-left: 2000px;
}

.Image5 {
    margin-left: 1000px;
    margin-top: -300px;
}

.Tracy {
  margin-left: 225px;
}

.Cometh {
margin-left: 500px;
}
